<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.santidev.proyectodante">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.santidev.proyectodante.TatetiModoActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.santidev.proyectodante.PlaysActivity.TatetiActivityDosJugadores"
                    android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.PlaysActivity.TatetiActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.PptModoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.PlaysActivity.PptActivityDosJugadores"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.PlaysActivity.PptActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.JuegosActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.NumTablaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.TablasActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.NumFamiliaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.familiasActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.PlaysActivity.FinJuegoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.PlaysActivity.HowPlayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.MatDificultadActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.PlaysActivity.MatPlayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.PlaysActivity.PalabraPlayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.AnimalesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.CalculadoraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.santidev.proyectodante.PrimerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.santidev.proyectodante.MathActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.santidev.proyectodante.LetraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.santidev.proyectodante.AbecedarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.santidev.proyectodante.MainActivity"
            android:screenOrientation="portrait" />
    </application>


</manifest>