<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".PlaysActivity.AhorcadoActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MemoriaDificultadActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PlaysActivity.MemoriaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PlaysActivity.ColorPlayActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ColorActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ColoresActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PlaysActivity.FiguraPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FigurasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LaunchScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TatetiModoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaysActivity.TatetiActivityDosJugadores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaysActivity.TatetiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PptModoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaysActivity.PptActivityDosJugadores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaysActivity.PptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JuegosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NumTablaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NumFamiliaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaysActivity.FinJuegoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaysActivity.HowPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatDificultadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaysActivity.MatPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaysActivity.PalabraPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalculadoraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MathActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LetraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AbecedarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>